@page "/"

<div class="container">
    <div class="row">
        <h1>Eksperyment z kontrolkami</h1>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            Wpisz tekst: 
        </div>
      <div class="col-sm-6">
        <input type="text" placeholder="Kocham Patke" @onchange="UpdateValue" />
</div>
 </div>
    <div class="row mt-2">
        <div class="col-sm-6">
            Pick a number:
        </div>
        <div class="col-sm-6">
            <input type="range"@onchange="UpdateValue" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-6">Naciśnij:</div>
        <div class="col-sm-6 btn-group" role="group">
            @for (var buttonNumber =1; buttonNumber <= 6; buttonNumber++)
            {
                string valueToDisplay = $"Liczba {buttonNumber}";
                <button type="button" class="btn btn-secondary"
                    @onclick="() => ButtonClick(valueToDisplay)">
                    @buttonNumber
                </button>
            }
        </div>
    </div>
    <div class ="row-mt-2">
        <div class="col-sm-6"> wybierz date:</div>
        <div class="col-sm-6">
            <input type="date" @onchange="UpdateValue" />
        </div>
    </div>
    <div class="row-mt-2">
        <div class="col-sm-6">wybierz kolor</div>
        <div class="col-sm-6">
            <input type="color" @onchange="UpdateValue"/>
        </div>
    </div>
    <div class="row mt-5">
        <h2>
            Podana wartość: <strong>@DisplayValue</strong>
        </h2> 
    </div>
</div>
@code

{
    private string DisplayValue = "";

    private void UpdateValue(ChangeEventArgs e)
    {
        DisplayValue = e.Value.ToString();
    }

    private void ButtonClick(string displayValue)
    {
        DisplayValue = displayValue;
    }
}